@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');

body {
    color: green;
    width: 100%;
    background-color: #FFFFFF;
}

.curve {
    position: absolute;
    z-index: -1;
	float: right;
}

.header-img {
    padding: 20px;
    width: 600px;
    display: block;
    margin: 0 auto;
}

.header-content{
    display: inline;
    display: flex;
    justify-content: space-between;
}

ul.nav {
    color: #00D084;
    list-style: none;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

li {
    padding: 10px;
}

a {
    color: #FFFFFF;
  }

a:visited {
    color: green;
  }

h1 {
    display: flex;
    align-items: center;
    flex-direction: row;
    color: #FFFFFF;
    margin-top: 0;
    position: relative;
}

h1.title-font{
    font-family: 'Share Tech', sans-serif;
    font-size: 70px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    padding-top: 15px;
    padding-left: 30px;
}

.welcome {
    text-align: center;
    color: #FFFFFF;
}

#post {
    border: 1px;
}

.blog-content {
    padding: 20px;
    display: flex;
    justify-content: center;
}

.blog-posts-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65%;
    background-color: #FFFFFF;
    flex-direction: column-reverse;
    border-radius: 50px;
}

.post-title {
    font-family: 'Share Tech', sans-serif;
    text-transform: uppercase;
}

h2.post-title, p.author-title, p.desc-title, p.desc-title2 {
    display: flex;
    flex-direction: column;
}

p.desc-title, p.desc-title2 {
    display: flex;
    justify-content: center;

}

p {
    display: flex;
    color: green;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.footer-bg.text{
    color: #FFFFFF;
}

.footer-content{
}

.footer-text{
    color: green;
    
}

@media (max-width: 640px) {
    .header-content {
      text-align: center;
    }

    .h1-title-font {
        flex-direction: column;
    }
  
    .ul-nav {
      flex-direction: column;
      margin: 0.8em 0;
    }

  }