{% extends "base.html" %}
{% block content %}
{% load static %}
<link rel= "stylesheet" type= "text/css" href= "{% static 'styles.css' %}">

<div class="new-post-form" justify-content: center>
    <h3>Create a new blog below:</h3>
    <form action="{% url 'new_post' %}" method="POST">
        {% csrf_token %}
        <label>
            Title:
            <input type="text" name="title" required/>
        </label>
        <label>
            Author:
            <input type="text" name="author" required/>
        </label>
        <label>
            Description:
            <input type="text" required/>
        </label>
        <label>
            Post:
            <textarea name="description" cols="30" rows="10"></textarea>
        </label>
        <button type="submit">New Post</button>
    </form>
</div>

{% endblock %}